.baseFont {
    font-family: 'Arbutus Slab', serif;
    color: #373737;
}

.baseText { 
    font-family: 'Arbutus Slab', serif;
    color: #373737;
    line-height: 2.2rem;
    font-size: 1rem;
    font-weight: 100;
}

.subText { 
    font-weight: 100;
    font-size: 0.85rem;
}

