.dateText {
    color: #373737;
    font-size: 1rem;
    font-weight: 200;
}

.sideWrap {
  position: fixed;
  top: 10%;
  right: 0%;
  height: 90%;
}

.smallImage {
  /* display: inline-block; */
  width: 90%;
  max-width: 100%;
  height: auto;
  object-fit: contain;

}

.sidePics {
  /* position: absolute; */
}
.baseFont {
    font-family: 'Arbutus Slab';
    color: #373737;
}

.toLower {
  text-transform: lowercase;
}

.baseText {
  font-size: 1.20rem;
  line-height:34px;
  font-weight:300;
}

.wrapper {
    display: grid;
    grid-template-columns:
      1fr
      min(80ch, 100%)
      1fr;
  }
  .wrapper > * {
    grid-column: 2;
  }
  .fullBleed {
    width: 100%;
    grid-column: 1 / 4;
  }